{% extends 'cr/cr_layout.html' %}
{% block cr_announcements %}active{% endblock %}
{% block cr_content %}
<div class="oneGrid">
        <a class="btn btn-primary create-btn" type="submit" href="{{ url_for('new_announcement') }}">Create Announcement</a>
    </div>
<div class="card-deck grid">
        {% for announcement in announcements %}
            <div class="card">
                <div class="card-header">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{announcement.author.firstname}} {{announcement.author.lastname}}</a>
                        <small class="text-muted">{{announcement.date_posted.strftime('%d-%m-%Y')}}</small>   
                    </div>
                </div>
                <div class="card-body">                    
                    <h3 class="card-title">{{ announcement.title }}</h3>                    
                    <p style="color: black;">{{announcement.content}}</p>

                    {% if current_user==announcement.author %}

                        <div class="row">
                        <div class="col-md-2 offset-9">
                            <a href="{{ url_for('update_announcement', announcement_id=announcement.id) }}" class="btn btn-warning">
                                <i class="fas fa-edit text-white"></i>
                            </a>
                        </div>
                        <div class="col-md-2" style="margin-left: -30px; margin-right: -30px;">
                            <form action="{{ url_for('delete_announcement', announcement_id=announcement.id) }}" method="POST">
                                <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                        </div>
                
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    </div>
    
{% endblock cr_content %}