{% extends 'admin/admin_layout.html' %}
{% block admin_cr %}active{% endblock %}
{% block admin_content %}

<div class="oneGrid">
  <a class="btn btn-primary create-btn" type="submit" href="{{ url_for('cr_create') }}">Create CR Account</a>
</div>

{% if users %}
<div class="card-deck grid-accounts">

  {%for user in users %}
  <div class="flip-card ml-3">

    <div class="flip-card-inner">

      <div class="flip-card-front cr-front">
            <h2>{{ user.firstname}} {{ user.lastname }}</h2>
            <h4 class="card-title">{{ user.college_id }}</h4>
            <p class="card-text text-muted">{{ user.email }}</p>
      </div>

      <div class="flip-card-back cr-back">

        <div class="container back-data">
          <p>Phone: {{ user.phone }}</p>
          <p>Address: {{ user.address }}</p>
        </div>
            
        <div class="row">
          <div class="col-md-2 offset-7">
              <a href="{{ url_for('cr_update', id=user.id) }}" class="btn btn-warning">
                  <i class="fas fa-edit text-white"></i>
              </a>
          </div>
          <div class="col-md-2" style="margin-left: -5px; margin-right: -5px;">
              <form action="{{ url_for('cr_delete', id=user.id) }}" method="POST">
                  <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
              </form>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endfor %}

</div>
{% endif %}

{% endblock admin_content %}